@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
    background-color: rgb(117, 58, 67);
}

#outline {
    width: 360px;
    height: 500px;
    box-shadow: 0 10px 30px rgba(37, 37, 37, 0.95);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: rgb(145, 80, 80);
    padding-bottom: 10px;
}

#display {
    width: 340px;
    height: 80px;
    box-shadow: inset 0 0 10px rgb(37, 37, 37);
    border-radius: 8px;
    background-color: rgba(60, 60, 60, 0.831);
    display: flex;
    flex-direction: column;
    align-items: end;
}

#equation {
    font-size: 16px;
    padding: 5px 15px;
}

#screen {
    font-size: 28px;
    padding: 5px 10px;
}

#clear {
    grid-area: clear;
}

#delete {
    grid-area: delete;
}

#absolute {
    grid-area: absolute;
}

#divide {
    grid-area: divide;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply {
    grid-area: multiply;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#add {
    grid-area: add;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#subtract {
    grid-area: subtract;
}

#decimal {
    grid-area: decimal;
}

#zero {
    grid-area: zero;
}

#equals {
    grid-area: equals;
    width: 160px;
    height: 75px;
}

#buttons {
    width: 340px;
    height: 400px;
    padding-left: 10px;
    padding-top: 5px;
    display: grid;
    grid-template-areas: 
        "clear delete absolute divide"
        "seven eight nine multiply"
        "four five six add"
        "one two three subtract"
        "decimal zero equals equals";
    grid-template-columns: repeat(4, auto);

}

button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(145, 82, 80);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.numbers:hover, #absolute:hover, #decimal:hover {
    background-color: rgb(187, 96, 110);
    transform: scale(.91);
    font-size: .8rem;
}

.operators:hover {
    transform: scale(.91);
    font-size: 1.3rem;
}



#clear:hover, #delete:hover {
    background-color: rgb(122, 187, 96);
}

#equals:hover {
    background-color: rgb(96, 181, 187);
}

footer {
    margin-top: 75px;
    display: flex;
    align-items: end;
}